html {
  font-size: 12px;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  height: 70px;
  padding: 10px;
}

header img {
  height: 100%;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 50px;
  padding: 0 25px;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #202020;
}

header nav.collapsible {
  background: #fff;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
}

header nav.collapsible ul {
  text-align: center;
}

header nav.collapsible ul li {
  display: block;
  line-height: 100px;
}

header nav.collapsible ul li a {

}

.collapse {
  display: none;
}

.section-wrapper {
  text-align: center;
  padding: 25px;
}

#overview .section-wrapper {
  background: url(../img/overview_bg.png);
  color: #fff;
}

#projects .section-wrapper {
  background: url(../img/projects_bg.png);
  color: #fff;
}

.section-header {
  max-width: 480px;
  margin: 10px auto;
}

.section-header h1 {
  border-bottom: 1px solid #FFC222;
}

#overview h1 {
  margin-bottom: 0;
}

#members h1 {
  border-bottom: 1px solid #14234B;
}

.part h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.highlight {
  color: #FFC222;
}

.section-wrapper h1 {
  font-size: 3rem;
  margin: 10px 0;
  margin-bottom: 50px;
  padding: 10px 0;
}

.project img {
  width: 100%;
}

footer {
  background: #202020;
  padding: 25px 10px;
  color: #fff;
}

footer ul {
  margin: 0;
  padding: 0;
  float: right;
}

footer ul li {
  display: inline;
  list-style: none;
}

footer ul li a {
  text-decoration: underline;
  color: #fff;
}
