body {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  padding: 25px;
}

header img {
  height: 100%;
}

.banner img {
  width: 100%;
}

.projects {
  text-align: center;
  padding: 10%
}

.project img {
  width: 100%
}
